:root {
    --primary-color: #C3B091;
    /* khaki */
    --secondary-color: #1F3A5F;
    /* navy */
    --accent1-color: #2F5D3A;
    /* forest green */
    --accent2-color: #F5F1E6;
    /* cream */
    --heading-font: "Oswald", sans-serif;
    --body-font: "Open Sans", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    /* background-color: var(--accent2-color); */
}

header,
main,
footer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--accent2-color);
    padding: 10px 1rem;
}

header img {
    width: 150px;
    margin: 10px;
}

header nav {
    justify-self: end;
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding-right: 20px;
}

nav li {
    flex: 0 0 auto;
}

nav a {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    color: var(--accent1-color);
}


h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}


.hero {
    position: relative;
    background-color: var(--accent2-color);
}

.hero img {
    width: 100%;
    height: auto;
    display: block;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero1 {
    position: relative;
    margin: 0;
    padding: .2rem;
    background-color: rgb(53, 99, 84);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}

.hero1 h1 {
    top: 20px;
    width: 100%;
    padding: .5rem;
    text-align: center;
    /* background-color: var(--accent1-color); */
    color: white;
}

.hero1 p {
    text-align: center;
    color: white;
    margin: 0;
    font-size: small;
    font-weight: 600;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: var(--accent2-color);
}

.history img {
    display: block;
    width: 200px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#p1 {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 300px;
    justify-self: center;
}

#p2 {
    grid-column: 3/4;
    grid-row: 2/3;
    max-width: 300px;
    justify-self: center;
}

.history h2,
.adventure h2 {
    grid-column: 1/4;
    grid-row: 1/2;
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    color: var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 1rem;
    opacity: 0.8;
    text-align: left;

}

.hero article img {
    float: right;
    width: 170px;
    padding: 2px;
    margin-top: 2px;
}

.adventure {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: var(--accent2-color);

}

.adventure h2 {
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/2;
}

.adventure img {
    width: 200px;
    height: auto;
    margin: 5px 0;
    padding: 15px;
    align-self: center;
}

.adventure figure {
    grid-row: 2/4;
    text-align: center;
}


.info-section {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    margin-top: 1rem;
}

.map iframe {
    width: 100%;
    height: 400px;
    border: 1px solid var(--secondary-color);
    margin: 3rem;
}


form.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form.contact .form-item {
    display: flex;
    align-items: center;
}

form.contact .form-item label {
    flex: 0 0 120px;
    text-align: left;
    margin-right: .3rem;
    font-weight: 600;
}

form.contact .form-item input,
form.contact .form-item textarea {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

fieldset .form-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

form.contact button {
    width: 100%;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

form.contact button:hover {
    background-color: var(--secondary-color);
}


.profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 2rem;
    border: 5px solid var(--secondary-color);
    padding: 2rem 0;
    text-align: center;
}

.profile h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.8rem;
    color: black;
}

.profile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile img {
    width: 180px;
    height: 200px;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.profile figcaption {
    font-weight: 600;
    font-size: 0.9rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
    border-top: 1px solid var(--secondary-color);
}

footer p {
    grid-column: 2/3;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 0;
    padding: 30px;
    font-weight: 800;
    color: var(--accent1-color);
}

.socialmedia {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-right: 20px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    padding: 2px;
}