* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: antiquewhite;
    color: darkgreen;
}

h1 {
    margin: .5rem;
}

form {
    background-color: aliceblue;
    color: black;
}

input,
textarea,
select,
button {
    padding: .75rem;
    width: 300px;
}

button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
    padding: .8rem;
}