nav {
    background-color: rgb(123, 161, 231);
    padding: 10px;
}

nav a {
    color: rgba(255, 255, 255, 0.662);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: rgba(51, 107, 213, 0.923);
}

main img {
    width: 180px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 20px gray;
}

aside {
    width: 20rem;
    margin: 2rem;
    border: 10px solid rgba(226, 220, 220, 0.823);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 2px solid black;
    text-align: center;
}