:root {
    --heading-background-color: rgb(123, 161, 231);
    --main-text-color: black;
    --border: 2px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--heading-background-color);
    padding: 15px;
}

nav a {
    color: var(--main-text-color);
    display: block;
    padding: 10px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--heading-background-color)
}

main img {
    width: 180px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 20px gray;
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 30px;
    right: 30px;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
    color: var(--main-text-color);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}