:root {
    --heading-background-color: rgb(123, 161, 231);
    --main-text-color: black;
    --border: 2px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

nav {
    background-color: var(--heading-background-color);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: var(--main-text-color);
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

main {
    max-width: 840px;
    margin: 0 auto;
    grid-column: 2;
    padding-top: 30px;
}

h1 {
    color: var(--heading-background-color);
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: var(--border);
}

main img {
    width: 180px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 20px gray;
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

aside img {
    width: 250px;
    height: auto;
    margin: 1rem;
    margin-top: 0;
}

aside h2 {
    position: relative;
    top: 35px;
    right: 30px;
}

aside p {
    text-align: justify;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
    color: var(--main-text-color);
    grid-column: 1/3;
    width: 100%;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}